<section class="heading-section">
    <h1 class="title is-1 has-text-centered">Todos</h1>
</section>
<div class="container">
    <div class="add-todo-box">
        <form action="">
            <h2 class="title is-5"> New Todo</h2>
            <div class="field is-grouped">
                <p class="control is-expanded">
                  <input class="input is-rounded" type="text" placeholder="type new task here....">
                </p>
                <p class="control">
                  <button class="button is-info is-rounded">Add</button>
                </p>
              </div>
        </form>
    </div>
</div>
<section>
    <div class="container">
        <div class="todo-list">
            <div class="todo-item completed">
                <div class="check-box">
                    <i class="fa-sharp fa-solid fa-check"></i>
                </div>
                <div class="todo-text">
                    this is a new task
                </div>
                <div class="doto-controls-box">
                    <div class="edit-box">
                        <i class="fa-solid fa-pen-to-square"></i>
                    </div>
                    <div class="delete-box">
                        <i class="fa-solid fa-trash"></i>
                    </div>
                </div>
            </div>
            <div class="todo-item">
                <div class="check-box">
                    <i class="fa-sharp fa-solid fa-check"></i>
                </div>
                <div class="todo-text">
                    this is a new task
                </div>
                <div class="doto-controls-box">
                    <div class="edit-box">
                        <i class="fa-solid fa-pen-to-square"></i>
                    </div>
                    <div class="delete-box">
                        <i class="fa-solid fa-trash"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

